--------------------------
#### STS-B dataset using the datasets library
---------------------------

In [1]:
from datasets import load_dataset
import pandas as pd

In [3]:
# Load the STS-B dataset
dataset = load_dataset("glue", "stsb")

train-00000-of-00001.parquet:   0%|          | 0.00/502k [00:00<?, ?B/s]

validation-00000-of-00001.parquet:   0%|          | 0.00/151k [00:00<?, ?B/s]

test-00000-of-00001.parquet:   0%|          | 0.00/114k [00:00<?, ?B/s]

Generating train split:   0%|          | 0/5749 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/1500 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/1379 [00:00<?, ? examples/s]

In [4]:
# Convert the train and validation datasets into pandas DataFrames
train_df      = pd.DataFrame(dataset['train'])
validation_df = pd.DataFrame(dataset['validation'])

In [5]:
train_df.shape, validation_df.shape

((5749, 4), (1500, 4))

In [6]:
train_df.sample(6)

,sentence1,sentence2,label,idx
1220,Two dogs in a fenced kennel look ahead.,Two woman pose in a dining room with a baby.,0.0,1220
5538,Iran's president condemns use of chemical weap...,Probe alleged use of chemical weapons in Syria,1.6,5538
495,A man and a woman are kissing each other.,A man and a woman are talking to each other.,0.6,495
2011,There's no chance of a fair trial.,there is no chance at a fair trial.,5.0,2011
5102,East Ukraine Separatists Ask to Join Russia,Crimean Parliament Votes to Join Russia,2.8,5102
4476,China stock index futures close higher -- Dec. 4,China stock index futures close lower -- Jan. 24,2.2,4476

In [8]:
# Check for repetitions of sentence1
repeated_sentences = train_df[train_df.duplicated(subset=['sentence1'], keep=False)]

In [12]:
# Sort the repeated sentences first by sentence1, then by similarity score
sorted_repeated_sentences = repeated_sentences.sort_values(by=['sentence1', 'label'], ascending=[True, False])

In [16]:
# Display sorted repeated sentence1 pairs
sorted_repeated_sentences[['sentence1', 'sentence2', 'label']]

,sentence1,sentence2,label
2035,"""Fairies don't exist"" - fine.","""Satyrs don't exist"" - fine.",1.20
2122,"""Fairies don't exist"" - fine.","""Leprechauns don't exist"" - fine.",1.00
4829,"10 dead, five injured in SW China road accident","1 dead, 39 injured in E China road accident",1.75
4980,"10 dead, five injured in SW China road accident",5 hurt in Gaza City car accident,1.00
4861,"17 killed, 133 wounded in bomb attacks in nort...","15 killed, 90 wounded in fresh attacks in Iraq",2.80
...,...,...,...
2284,to repeat: They are NOT as sovereign as they w...,They are NOT as sovereign as they were before.,4.50
1936,two puppies playing around in the grass,Two puppies play in the grass,5.00
1679,two puppies playing around in the grass,Two dogs are wrestling in the grass.,4.00
2077,you have no remains of a missile at the pentagon.,you have no witnesses for a missile at the pen...,2.60
2406,you have no remains of a missile at the pentagon.,you have no remains of an A- at the pentagon.,2.40